<div class="row">
    <div class="col-xs-12 wrapper">
        <h2>Login</h2>
        <app-error-box [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-box>
        <form class="form-box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-box">
                <label for="">Email</label>
                <input
                name="email"
                class="form-control" 
                type="email"
                formControlName="email"
                >
                <p style="font-size: 15px; font-weight: 200; color: red;" 
                   *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid">
                   Please enter a valid email
                </p>
            </div>
            <div class="input-box">
                <label for="">Password</label>
                <input
                name="password"
                class="form-control" 
                type="password"
                formControlName="password"
                >
                <p style="font-size: 15px; font-weight: 200; color: red;" 
                   *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid">
                   Please enter a password
                </p>
            </div>
            <button class="btn-submit" [disabled]="loading">login</button>
            <button type="button" class="btn-go" [routerLink]="['/signup']" [disabled]="loading">Dont have an account? Sign up</button>
        </form>
    </div>
</div>

