
<div class="row">
    <div class="col-xs-2">
        <div class="game-panel" [style.background]="game.mainColor" appToggleGamePanel>
            <h3 class="game-title hidden">{{ game.name }}</h3>
            <img id="icon" 
                [src]="game.imageIconPath" 
                [alt]="game.name" 
                [style]="{ 
                        width: '147px', 
                        height: game.name === 'Life is Strange' ? '142px' : 
                                game.name === 'Until Dawn' ? '227px' : 
                                game.name === 'Detroit Become Human' ? '145px' : 
                                '127px', 'object-fit': 'cover' 
                        }"
            >
            <img id="full_image" [src]="game.imagePath" class="hidden" [alt]="game.name" [style]="{width: '400px', height: '350px'}" style="position: relative;">
            <button class="go-btn hidden" (click)="onGoToGame()">Go To Game</button>
        </div>
    </div>
</div>


