.game-panel{
    position: relative;
    height: 770px;
    width: 147px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    align-content: center;
    border-radius: 4px;
    opacity: 0.8;
    transition: 0.3s;
}

.game-panel.open{
    width: 600px; 
    transition: 0.3s;
}

.game-title {
    color:  rgb(65, 63, 63);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.go-btn{
    position: relative;
    margin: 20px;
    margin-top: 100x;
    width: 150px;
    height: 70px;
    background: rgb(65, 63, 63);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(65, 63, 63);;
    border-radius: 6px;
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.go-btn:hover{
    color: black;
    background: transparent;
}