<div class="col-xs-12 wrapper">
    <app-error-box [errorMessage]="errorMessage" *ngIf="errorMessage"></app-error-box>
    <form class="form-box" (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <div class="input-box">
            <label for="username">Username</label>
            <input 
            name="username"
            type="text"
            formControlName="username">
        </div>
        <div class="input-box">
            <label for="name">Name</label>
            <input 
            name="name"
            type="text"
            formControlName="name">
        </div>
        <div class="input-box">
            <label for="dateOfBirth">Date of Birth</label>
            <input 
            name="dateOfBirth"
            type="date"
            formControlName="dateOfBirth">
        </div>
        <div class="btn-container">
            <button class="save-btn" type="submit" (click)="onSubmit()">Save</button>
            <button class="cancel-btn" type="button" (click)="onCancel()">Cancel</button>
        </div>    
    </form>
</div>
