<p-autoComplete 
    styleClass="autocomplete"
    [(ngModel)]="selectedGame" 
    [suggestions]="filteredGames" 
    (completeMethod)="filterGame($event)" 
    field="name"
    placeholder="Search for a game">
    <ng-template let-game pTemplate="item">
        <div (click)="onChooseGame(game)" class="search-suggestion">
            <img 
                [src]="game.imageIconPath" 
                style="width: 18px" />
            <div class="name">{{ game.name }}</div>
        </div>
    </ng-template>
</p-autoComplete>
